.main {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 10rem;

}

.photo-header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    align-items: stretch;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
}


.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    box-shadow: 0px 3px 5px 3px rgba(22, 13, 13, 0.486);
    
}

@media (max-width: 750px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 400px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}