* {
    box-sizing: border-box;

}

/* Style the body */
:root {
    --white: rgb(255, 255, 255);
    --dark-white: rgb(248, 248, 248);
    --platinum: rgb(233, 233, 233);
    --light-silver: rgb(210, 210, 210);
    --silver: rgb(180, 180, 180);
    --dark-silver: rgb(143, 143, 143);
    --light-dark: rgb(47, 47, 47);
    --dark: rgb(13, 13, 13);
}

body {
    font-family: 'sans-serif', 'Segoe UI', Tahoma, Verdana;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--white);
}

/* the whole html body */
.page-wrapper {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

/* Header */
.header {
    padding: 60px;
    text-align: center;
    background-image: url("../img/sailboat.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
}

.header-pic:first-child {
    font-style: italic;
}


/* Style the top navigation bar */
.navbar-container{
    position: sticky;
    top: 0px;
}

.navbar {
    display: flex;
    background-color: var(--light-dark);
}

/* Style the navigation bar links */
.navbar a {
    color: var(--dark-white);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: var(--platinum);
    color: var(--dark);
    transition: 500ms;
}


.navbar .active {
    background-color: var(--silver);
    color: var(--dark);
}

/* Footer */
.footer {
    padding: 15px;
    text-align: center;
    background: var(--light-dark);

    position: absolute;
    bottom: 0;
    width: 100vw;
    margin-top: 5rem;
}

.footer-icon {
    width: 2rem;
    height: 2rem;
}

.footer-icon:hover {
    opacity: 0.5;
}

@media (max-width: 750px) {
    .navbar {
        flex-direction: column;
    }

    body {
        font-size: 16px;
    }
}